<h2>Brands:</h2>
{% for brand in brands %}
<p>Name: {{ brand.name }}</p>
<p>Description: {{ brand.description }}</p>
-----------------------------------------------
{% endfor %}

<br><br><br>

{% for item in items %}
<div>
    <h2>Items:</h2>
    <p>Name: {{ item.name }}</p>
    <p>Url: {{ item.url }}</p>
    {% for price in item.prices %}
    <h2>Prices:</h2>
    <p>Description: {{ price.description }}</p>
    <p>PriceInEuro: {{ price.priceInEuro }}</p>
    <p>ArrivalDate: {{ price.arrivalDate }}</p>
    <p>DueDate: {{ price.dueDate }}</p>
    {% endfor %}
</div>
-----------------------------------------------
{% endfor %}